@font-face {
    font-family: 'Tangerine';
    src: url(./asset/fonts/Tangerine/Tangerine-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Tangerine';
    src: url(./asset/fonts/Tangerine/Tangerine-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
  

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: serif;
}

:root {
    --primary-color: #103026;
    --accent-color: #cabd66;
    --background-color: #f3f4f6;
}

body {
    background-color: var(--background-color);
}

header {
    background-color: var(--primary-color);
    padding: 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--accent-color);
    position: sticky;
    top: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    color: white;
}

li {
    cursor: pointer;
}

.background {
    content: "";
    width: 100vw;
    height: 95vh;
    background-image: url(../src/asset/images/hero.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home {
    background-image: url(../src/asset/images/hero.jpg);
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.restaurant-name {
    font-size: 10rem;
    color: white;
    border-bottom: 0.2rem solid var(--primary-color);
    font-family: "Tangerine", sans-serif
}

.menus-btn {
    appearance: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--accent-color);
    padding: 10px 20px;
    font-size: 1rem;
    letter-spacing: 0.3rem;
}

.logo {
    font-family: "Tangerine", sans-serif;
    font-size: 3rem;
}

.foods {
    align-self: stretch;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(414px, 1fr));
    justify-items: center;
}



.menu, .food-section, .food {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
}

@media only screen and (min-width: 961px) {
    .menu, .food-section, .food {
        padding: 30px;
    }
};

.menu, .food-section {
    gap: 30px;
}

.food {
    gap: 10px;
    border-bottom: 0.1rem solid var(--accent-color);
}


.menu h2 {
    font-size: 3rem;
    font-weight: 100;
}

.menu h3 {
    font-size: 2.5rem;
    font-weight: 100;
    color: var(--accent-color)
}

.menu h4 {
    font-weight: 100;
}

.menu p {
    font-weight: 100;
    text-align: center;
}
